<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>theatre</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            position: relative;

        }
        h2, h1 {
            text-align: center;
        }

        .hall {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        .place {
            padding: 10px 20px;
            border: 3px solid black;
            text-decoration: none;
            font-size: 20px;
            color: white;
            background: #f700ff;
            margin: 1px;
            cursor: pointer;
        }
         .form {
             max-width: 400px;
             margin: 0 auto;
             padding: 20px;
             border: 2px solid #f700ff;
             border-radius: 10px;
             background-color: #f9f9f9;
             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
             position: absolute;
             top: 40vh;
             left: 35vw;
             display: none;
         }

        .form label {
            display: block;
            margin-bottom: 15px;
            position: relative;
        }

        .form input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
            outline: none;
        }

        .form input[type="text"]:focus {
            border-color: #f700ff;
            box-shadow: 0 0 5px rgba(247, 0, 255, 0.5);
        }

        .exit,.form input[type="submit"] {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 5px;
            background-color: #f700ff;
            color: white;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: 30px;

        }


        .form input[type="submit"]:hover {
            background-color: #d500e0;
        }

        .form .error {
            color: red;
            font-size: 14px;
            position: absolute;
            bottom: -20px;
            left: 0;
            visibility: hidden;
        }

        .form input.error {
            border-color: red;
        }

        .form input.error + .error {
            visibility: visible;
        }
    </style>

</head>
<body class="body">
<h2>THEATRE</h2>
<h1>Romeo and Juliet</h1>

<% let seatNumber = 1; %>
<% let rowNumber = 1; %>
<% for (var i = 0; i < 10; i++) { %>
    <div class="hall">
        <% for (var j = 0; j < 10; j++) { %>
            <span href="" class="place" id="<%= rowNumber %>/<%= seatNumber %>"
               data-row="<%= rowNumber %>" data-seat="<%= seatNumber %>">
                <%= rowNumber %>/<%= seatNumber++ %>
            </span>
        <% } %>
        <% seatNumber = 1; rowNumber++; %>
    </div>
<% } %>


<form action="" class="form">
    <p class="title" style="text-align: center"></p>
    <label>
        <input type="text" name="first_name" placeholder="First Name">
        <span data-name="firstName"></span>
    </label>
    <label>
        <input type="text" name="last_name" placeholder="Last Name">
        <span data-name="lastName"></span>

    </label>
    <label>
        <input type="text" name="phone_number" placeholder="Phone Number">
        <span data-name="phoneNumber"></span>

    </label>
    <input type="submit" name="submit" value="reserve">

    <span class="exit">Exit</span>

</form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const places = document.querySelectorAll('.place');
    const title = document.querySelector('.title');
    const exit = document.querySelector('.exit');
    const form = document.querySelector('.form')
    places.forEach(place => {
        place.addEventListener('click', () => {
            const value = place.dataset.row + '/' + place.dataset.seat;
            if (place.value = value){
                form.style.display = 'block'
                title.innerText = place.value
            }
            if (form.style.display === 'block'){
                exit.addEventListener('click', ()=>{
                    form.style.display = 'none'
                })
            }

        });
    });
</script>

</body>
</html>
